:root {
  --PrimaryColor: hsl(199,100%, 33%)
  --SecondaryColor: hsl(187,85%, 43%)
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199,100%,33%))
  --whiteColor: hsl(0,0%, 100%)
  --blackColor: hsl(201,33%, 16%)
  --textColor: hsl(240,4%, 36%)
  --whiteColorDeam: hsl(0,0%, 93%)
  --greyText: rgb(190,190, 190)
  --inputColor: rgb(239,239,239)
  --bodyColor: rgb(240,240,240)
  --cardBG: rgb(225,225,235) ;
}

.main {
  width: 100%;
}
.main .sectTitle .title {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: hsl(240deg, 4%, 36%);
  margin: 1rem 0;
  z-index: 2;
}
.main .sectTitle .title::after {
  position: absolute;
  content: "";
  background: hsl(187deg, 85%, 43%);
  height: 5px;
  width: 120px;
  right: 0;
  bottom: 5px;
  z-index: -1;
}
.main .setContent {
  justify-content: center;
  gap: 1.5rem;
}
.main .setContent .singleDestination {
  height: 100%;
  display: grid;
  row-gap: 10px;
  border-radius: 10px;
  align-items: center;
  background: rgb(225, 225, 235);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
}
.main .setContent .singleDestination:hover {
  background: rgb(255, 255, 255);
  box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
  transition: 0.3s ease;
}
.main .setContent .singleDestination imageDiv {
  height: 180px;
  width: 100%;
  overflow: hidden;
}
.main .setContent .singleDestination imageDiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 2s ease;
}
.main .setContent .singleDestination imageDiv:hover img {
  transform: scale(1.1);
}
.main .setContent .singleDestination .cardInfo {
  padding: 1rem;
}
.main .setContent .singleDestination .cardInfo .destTitle {
  color: hsl(240deg, 4%, 36%);
  font-size: 1.25rem;
}
.main .setContent .singleDestination .cardInfo .continent {
  gap: 0.5rem;
}
.main .setContent .singleDestination .cardInfo .continent .icon {
  color: hsl(240deg, 4%, 36%);
  font-size: 18px;
}
.main .setContent .singleDestination .cardInfo .continent .name {
  color: hsl(240deg, 4%, 36%);
  font-weight: 400;
  font-size: 14px;
}
.main .setContent .singleDestination .cardInfo .fees {
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  border-top: 1.5px solid rgb(190, 190, 190);
  border-bottom: 1.5px solid rgb(190, 190, 190);
}
.main .setContent .singleDestination .cardInfo .fees .grade {
  color: hsl(240deg, 4%, 36%);
  max-width: 100px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .setContent .singleDestination .cardInfo .fees .grade small {
  text-align: center;
  background: linear-gradient(to right, hsl(187deg, 85%, 43%), hsl(199deg, 100%, 33%));
  border-radius: 1rem;
  color: hsl(0deg, 0%, 100%);
  padding: 1px 10px;
  font-size: 10px;
}
.main .setContent .singleDestination .cardInfo .fees .price {
  font-size: 2rem;
  color: hsl(201deg, 33%, 16%);
}
.main .setContent .singleDestination .cardInfo .desc {
  font-size: 13.5px;
  color: hsl(240deg, 4%, 36%);
  font-weight: 500;
}
.main .setContent .singleDestination .cardInfo .btn {
  margin-top: 1rem;
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
  justify-content: space-between;
  gap: 0.5rem;
}
.main .setContent .singleDestination .cardInfo .btn .icon {
  align-self: center;
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */